#####################################################################
#------------------------------TRAD_RACK----------------------------#
#####################################################################


[trad_rack]
selector_max_velocity: 400
selector_max_accel: 10000
#toolhead_fil_sensor_pin: 
lane_count: 14
lane_spacing: 17.0
servo_down_angle: 0.0
servo_up_angle: 131.0
toolhead_unload_speed: 20
extruder_load_speed: 20
toolhead_sense_speed: 20
selector_unload_length: 17.5
bowden_length: 700.0
extruder_load_length: 44.5
hotend_load_length: 6.0
toolhead_unload_length: 40.0
buffer_pull_speed: 100.0    # increase this to 300+ once you are ready
                            # (but some motors may not be able to handle this).

[stepper_tr_selector]
# stepper connected to M1, endstop to STP1
step_pin: tr:PD4  
dir_pin: !tr:PD3   
enable_pin: !tr:PD5   
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^tr:PA15
position_min: 0.0
position_endstop: 0.0
position_max: 221   # (lane_count - 1) * lane_spacing
homing_speed: 30

[stepper_tr_fil_driver]
# stepper connected to M2, selector filament sensor to STP2
step_pin: tr:PC9
dir_pin: !tr:PC8
enable_pin: !tr:PD2
rotation_distance: 22.67895
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: !tr:PA10  # selector filament sensor
position_min: -5000
position_endstop: 0
position_max: 5000
homing_positive_dir: False

[tmc2209 stepper_tr_selector]
# connected to EZ Driver1
uart_pin: tr:PB5
interpolate: True
run_current: 0.63   # for a 1A peak motor
sense_resistor: 0.110

[tmc2209 stepper_tr_fil_driver]
# connected to EZ Driver2
uart_pin: tr:PB4
interpolate: False
run_current: 1.27   # for a 2A peak motor
sense_resistor: 0.110

[servo tr_servo]
# connected to MOT
pin: tr:PA1
maximum_servo_angle: 131
minimum_pulse_width: 0.000700
maximum_pulse_width: 0.002200